---
---

@import "{{ site.theme }}";

body {
  font-size: 18px;
  line-height: 1.75;
  max-width: 700px;
  margin: auto;
  padding: 2rem 1rem;
  color: #222;
  font-family: "Helvetica Neue", "Segoe UI", sans-serif;
}
